{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Following</h2>
        
        <div id="posts-container">
            <!-- Posts will be loaded here via JavaScript -->
        </div>
        
        <div class="pagination-controls mt-3 text-center">
            <button id="prev-page" class="btn btn-outline-primary mr-2" style="display: none;">Previous</button>
            <span id="page-info">Page <span id="current-page">1</span></span>
            <button id="next-page" class="btn btn-outline-primary ml-2" style="display: none;">Next</button>
        </div>
    </div>
{% endblock %}